.card {
  background: rgb(211, 211, 215);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 14px rgba(10, 10, 145, 0.06);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  width: 400;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 24px rgba(185, 6, 6, 0.898);
}
.emoji { font-size: 2.5rem; }
.stars { color: #1d8530; }

