

*{
  box-sizing: border-box;
  margin: 2;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #dda8dd;
  background: #2c170b;
  padding: 6rem;
}

h1 {
  font-size: 3.5rem;
}
